.history-container {
  background-color: rgba(248, 249, 250, 0);
  border-radius: 10px;
  padding: 20px;
  margin-top: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.history-container h3 {
  color: #020406;
  margin-bottom: 15px;
}

.history-container p {
  color: #020406;
  line-height: 1.6;
  margin-bottom: 15px;
}

.history-container ul {
  padding-left: 20px;
  margin-bottom: 15px;
}

.history-container li {
  color: #020406;
  margin-bottom: 10px;
}

.history-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #020406;
}

.timeline-item {
  margin-bottom: 20px;
  padding: 10px;
  border-left: 4px solid #adb5bd;
  background-color: rgba(244, 244, 249,0.1);
  color: #020406;
}

.timeline-item h3 {
  font-size: 1.5rem;
  color: #020406;
}

.timeline-item p {
  font-size: 1rem;
  color: #020406;
}
