.history-container {
  background-color: #f4f4f9;
  padding: 20px;
  border-radius: 8px;
  color: #495057;
}

.history-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6c757d;
}

.timeline-item {
  margin-bottom: 20px;
  padding: 10px;
  border-left: 4px solid #adb5bd;
  background-color: #f4f4f9;
  color: #495057;
}

.timeline-item h3 {
  font-size: 1.5rem;
  color: #495057;
}

.timeline-item p {
  font-size: 1rem;
  color: #6c757d;
}
